{% extends 'layouts/base.html' %}

{% block content %}
<section class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1>About {{cookiecutter.repo_name}}</h1>
			<p>Lorem dignissimos alias quis tempora dolor. Dolor pariatur fuga illo molestiae in culpa iure totam, similique sapiente sunt nulla harum repellendus optio. Animi nihil impedit adipisicing sapiente ipsa est error.</p>
			<p>Amet veritatis earum quibusdam in dolorem iure. Omnis nemo culpa aperiam mollitia quod iusto neque iusto ullam vitae vitae in exercitationem in eligendi. Aliquid accusamus at expedita delectus culpa veniam!</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12"><h2>Some Placeholders</h2></div>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<h3>Person</h3>
			<img src="http://placehold.it/200x200" alt="">
		</div>
		<div class="col-lg-3">
			<h3>Person</h3>
			<img src="http://placehold.it/200x200" alt="">
		</div>
		<div class="col-lg-3">
			<h3>Person</h3>
			<img src="http://placehold.it/200x200" alt="">
		</div>
		<div class="col-lg-3">
			<h3>Person</h3>
			<img src="http://placehold.it/200x200" alt="">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<h3>Person</h3>
			<img src="http://placehold.it/200x200" alt="">
		</div>
		<div class="col-lg-3">
			<h3>Person</h3>
			<img src="http://placehold.it/200x200" alt="">
		</div>
		<div class="col-lg-3">
			<h3>Person</h3>
			<img src="http://placehold.it/200x200" alt="">
		</div>
		<div class="col-lg-3">
			<h3>Person</h3>
			<img src="http://placehold.it/200x200" alt="">
		</div>
	</div>
</section>
{% endblock %}
