{% extends 'layouts/base.html' %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ data.title }}</h1>
            <p>{{ data.leader_text }}</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>
    <section class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{cookiecutter.repo_name}}</h1>
                <p class="lead">Lead text</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img width="300" height="140" src="http://placehold.it/300x140" class="img-thumbnail img-responsive" alt="">
                <h2>Meetups</h2>
                <p>Lorem earum voluptatibus dolorum minus laboriosam earum. Autem amet ducimus ratione ab at ipsam. Assumenda facilis earum repellendus repellendus earum nihil tempora corrupti aspernatur? Atque expedita harum dicta eveniet exercitationem!</p>
                <p><a class="btn btn-primary" href="#" role="button">Learn more</a></p>
            </div>
            <div class="col-lg-4">
                <img width="300" height="140" src="http://placehold.it/300x140" title="" class="img-thumbnail img-responsive" alt="">
                <h2>Some Things</h2>
                <p>Ipsum quis minima eos error ipsam tempore odit, repudiandae esse mollitia iure repellendus dolore. Odit neque fuga perspiciatis expedita molestiae? Magni quae temporibus odit corrupti repellat. In nulla harum similique.</p>
                <p><a class="btn btn-primary" href="#" role="button">Learn more</a></p>
            </div>
            <div class="col-lg-4">
                <img width="300" height="140" src="http://placehold.it/300x140" class="img-thumbnail img-responsive" alt="">
                <h2>More Stuff</h2>
                <p>Adipisicing harum impedit nemo inventore aliquam! Vel consequatur fuga voluptatem quam esse. Error id neque aliquid in doloribus unde quo facere ratione. Explicabo sit deleniti perferendis sapiente hic! Velit repellendus?</p>
                <p><a class="btn btn-primary" href="#" role="button">Learn more</a></p>
            </div>
        </div>
    </section>
{% endblock %}
